body {
  background-image: url("/../images/road-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: gold;
  padding-top: 50px;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
  font-size: 5em;
}
