<link href="./css/main.css" rel="stylesheet" />

<body>
    <div class="container">
        <h1>Riders</h1>
        <ul class="list-group">
            <li class="list-group-item">Nick Fallon</li>
            <li class="list-group-item">Ryan Price</li>
            <li class="list-group-item">Ben Weinberg</li>
            <li class="list-group-item">Raman</li>
        </ul>
    </div>
</body>