<link href="./css/main.css" rel="stylesheet" />

<body>
  <div>
    <a type="nav-link" id="backButton" class="btn btn-dark" href="/login"
      style="position:absolute; top:100px; left:10px">Back</a>
  </div>
  <h1 align="center">Password Reset</h1>
  <div class="container container-dark">
    <div class="row justify-content-center align-items-center" style="height:50vh;">
      <div class="col-4">
        <div class="card text-white bg-dark mb-3">
          <div class="card-body">
            <form class="form-horizontal" method="post" action="#">
              <div class="form-group">
                <input type="text" placeholder="Username" class="form-control" id="username" name="username" required />
              </div>

              <div class="form-group">
                <input type="email" placeholder="email" class="form-control" id="email" name="email" required />
              </div>
              <button type="submit" class="btn">
                Send reset link
              </button>
            </form>

            <div class="signup">
              <a href="signup">Not a memeber? Sign up here!</a>
            </div>
          </div>
        </div>
      </div>
    </div>

</body>