<body>
    <div class="card text-white bg-dark mb-3" style='position: absolute; top: 150px; left: 200px'>
  <div class="card-header">
    Upcoming Rides
  </div>
  <div class="card-body ">
    <blockquote class="blockquote mb-0" style="padding: 10px">
      <p>Get ride from database</p>
      <a href="/login" class="btn btn-light">Claim spot </a>
    </blockquote>
    <blockquote class="blockquote mb-0" style="padding: 10px">
      <p>Get ride from database</p>
      <a href="/login" class="btn btn-light">Claim Spot</a>
    </blockquote>
    <blockquote class="blockquote mb-0" style="padding: 10px">
      <p>Get ride from database</p>
      <a href="/login" class="btn btn-light">Claim Spot</a>
    </blockquote>
  </div>
</div>
</body>