<link href="./css/main.css" rel="stylesheet" />

<body>

  <div class="content-placeholder" style="width">
    <div class="card text-white bg-dark mb-3" style='position: absolute; top: 150px; left: 20px; width: 45%'>
      <div class="card-header">
        Password Reset Link
      </div>

      <div class="card-body">
        <blockquote class="blockquote mb-0" style="padding: 10px;">
          <p>If the email matches with the username provided a link to reset you password will be sent to your email</p>

        </blockquote>
      </div>

    </div>
  </div>
</body>