<link href="./css/main.css" rel="stylesheet" />

<body>
    <table style="width:95%", bgcolor = "white", align="center">
        <tr>
          <th>Pick-Up</th>
          <th>Destination</th> 
          <th>Start Time</th>
          <th>Ride Date</th>
        </tr>

        {{#each context}}
        <tr class = "drives">
          <td class="drives">{{startLoc}}</td>
          <td class="drives" >{{dest}}</td> 
          <td class="drives" >{{startTime}}</td>
          <td class="drives" >{{rideDate}}</td>
          <td>
              <button type="submit" class="btn btn-primary btn-small">
                                    Select
              </button>
          </td>
        </tr>
        {{/each}}
    </table>
</body>