<link href="./css/main.css" rel="stylesheet" />

<body>
    <div style="width:800px; margin:0 auto;">
        centered content

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Pick-up and Drop-off</div>
                        <div class="card-body">
                            <form class="form-horizontal" method="post" action="#">
                                <div class="form-group">
                                    <label for="pick-up" class="cols-sm-2 control-label">Enter Pick-up Location:</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user fa"
                                                    aria-hidden="true"></i></span>
                                            <input type="text" class="form-control" name="pick-up" id="pick-up"
                                                placeholder="Pick-up location" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="destination" class="cols-sm-2 control-label">Enter Destination:</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user fa"
                                                    aria-hidden="true"></i></span>
                                            <input type="text" class="form-control" name="destination" id="destination"
                                                placeholder="Desination" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>